<h1>{{title}}</h1>
<h4>{{description}}</h4>
<div class="profile"></div>
<h3>
	<a href="https://twitter.com/JackRoboBurton" target="_blank">Twitter Profile Page</a>
</h3>
<section>
	Jack Burton is possibly the greatest hero to ever walk the Earth at least in his own mind. With the help of his friend Wang Chi and his quick reflexes, he saved Chinatown and possibly the entire world. Some people would say that it was Wang Chi who saved the world, but I'd like to think that Jack played a small part. That's how the story begins very small.
</section>
<section>
	In bot form, Jack likes to use his favorite catch phrase to give relevant and somewhat abstract one-liner advice.
</section>


