<h2>Jack's Admin:<br>
<span style="font-size:small">Must be logged in to view</span></h2>
<ul class="errors">
  {{#each messages}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<form id="login-form" action="/login" method="POST">
<label>Username:</label><br>
<input type="text" name="username" "autocomplete="off" required>
<br>
<label>Password:</label><br>
<input type="password" name="password" "autocomplete="off" required>
<br>
<button type="submit" name="login" value="Log in">Log in</button>
</form>

<p style="margin-left:5px;"><a href="/logout">Log Out</a></p>