
html{
  background:url('/images/big-trouble-bg.jpg');
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: 'Roboto','Lucida Grande', Helvetica, Arial, sans-serif;
}
body {
	padding: 50px;
	font-size: 14px;
	background: rgba(255,255,255,0.9);
	height: auto;
	min-height: 100%;
}
hr{
  	border-top: 1px solid #bbbbbb;
}

a {
  	color: #00B7FF;
}
nav > ul{
	padding: 0;
    list-style: none;
}
nav > ul li{
	display: inline;
	font-size: 1.5em;
}
nav > ul li:after{
	content: ' |';
}
nav > ul li a{
	font-weight: bold;
	color:#555555;
}
nav > ul li a:hover{
	text-decoration: none;
	color:#9E9E9E;
}
nav > ul li a:active{
	color:#fff;
}
h5{
	font-size: .75em;
}
section{
	margin: 2% 0 1% 0;
}
.profile{
    background: url(/images/jacks-profile.jpg);
    background-size: cover;
    background-position: top center;
    width: 150px;
    height: 150px;
    border-radius: 200px;
    border: 1px solid #5e5e5e;
}
.small-profile{
  background: url(/images/jacks-profile2.jpg);
	display: inline-block;
  width: 75px;
  height: 75px;
  vertical-align: middle;
  background-size: cover;
  background-position: top center;
}
.tweet-stream{
	width: 100%;
    max-width: 40%;
}
